<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% for(var i=0; i<list.length; i++) {%>
         <li><%= list[i].nombre %></li>
      <% } %>
      </ul>
  </body>
</html>
